
/*
index.html design file by Dakota Jones
    1. html and body
    2. colors/fonts/sizes for p,link, and h1 elements
    2. introduction section
    3. body of page
    4. footer section
    5. transformation rules and other design aspects
*/


/* --- html and body --- */
html {
    background-color: hsla(580, 50%, 60%, .9);
    padding: 3%;
}

body {
    background-image: url("../img/back.jpg");
    background-size: cover;
    padding: 3%;
}

/* --- colors/fonts/sizes for p, link, and h1 elements --- */
p {
    color: hsl(250, 80%, 20%);
    line-height: .75cm;
    text-align: left;
    font-family: Courier-New, monospace;
    font-size: 100%;
}

div.navbar ul li, div.Assignment ol li, div.Portfolio ol li {
    color: hsl(250, 80%, 50%);
    line-height: .75cm;
    font-weight: bold;
}

h1 {
    color: hsla(9, 35%, 20%, 0.9);
    border: 3px solid darkblue;
    border-radius: 20% 20% / 20% 20%;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px; 
    text-shadow: 0.3cm 0.3cm 0.1cm rgb(68, 68, 80);
    transition: ease-in-out 2s, transform 2s, text-shadow 2s;
}

/* --- introduction section --- */
div.Introduction, div.navbar, div.Footer {
    position: fixed;
    opacity: 100%;
}

div.navbar {
    float: left;
    padding: 0% 0% 2% 0%;
    margin: 0pt;
    width: 100%;
    background-color: rgba(200, 100, 80, 1);
    z-index: 999;
}

#navbar {
    top: 0pt;
    left: 0pt;
    right: 0pt;
}

#navbar ul li {
    display: inline-block;
    list-style: none;
    width: 15%;
    text-align: center;
    padding: 0% 2% 0% 2%;
    border-radius: 50px;
    background-image: linear-gradient(bisque, burlywood, darkgoldenrod);
    z-index: 999;
}

div.Introduction {
    width: 100%;
    margin: -3% 0% 0% -6.5%;
    background-color: rgba(200, 100, 80, 1);
    z-index: 999;
}

div.Introduction h1 {
    float: left;
    width: 60%;
    height: 1cm;
    padding: 0% 0% 0% 6%;
    border-style: none;
    background-image: none;
}

div.Introduction p {
    float: left;
    width: 60%;
    height: 3cm;
    padding-left: 6%;
    margin: -1% 0% 0% 0%;
}

div.Introduction img {
    float: right;
    width: 8cm;
    height: 3.5cm;
    margin: -4% 6% 0% 0%;
}

/* --- body section --- */
div.Assignment {
    position: absolute;
    right: 0pt;
    padding: 0% 6% 0% 0%;
    top: 9cm;
}

div.Portfolio {
    position: relative;
    width: 60%;
    top: 150px;
}

div.Contact {
    position: relative;
    top: 160px;
    width: 100%;
}

div.Schedule {
    position: relative;
    width: 100%;
    top: 70%;
    padding: 12% 0% 0% 0%;
}

div.Schedule table {
    border: 5px dashed;
    padding: 0%;
    vertical-align: middle;
    empty-cells: show;
    text-align: center;
    color: hsl(250, 80%, 20%);
}

/* --- footer section --- */
div.Footer {
    bottom: 0cm;
    width: 100%;
    margin: 0% 0% 0% -6.3%;
    background-color: rgba(200, 100, 80, 1);
    z-index: 999;
}

#Footer {
    bottom: 0pt;
    left: 0pt;
    right: 0pt;
}

#Footer footer, details {
    text-align: left;
}

/* --- transformation rules and other design aspects --- */
div.Portfolio, div.Contact, div.Schedule {
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

a:link {
    color: brown;
    text-decoration: none;
}

a:hover {
    color: white;
    border: brown dashed;
}

p::first-letter {
    font-size: 150%;
    font-style: italic;
}

ol li::first-letter {
    font-size: 150%;
    font-style: italic;
}

div.Portfolio ol li:nth-child(3n+1) {
    box-shadow: -5px -5px 50px grey;
}

tr:nth-child(even) {
    background-color: rgba(200, 100, 80, 1);
}

tr:nth-child(odd) {
    background-color: bisque;
}

tr:nth-child(odd):active {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1:hover {
    transform: scale(1.2);
    text-shadow: 0.3cm 0.3cm 0.1cm sienna;
}
